/**
 * Core - Base Styles
 */

 .html-base {
    @apply bg-theme-base font-sans text-theme-base-contrast;
}

::selection {
    /* WebKit/Blink Browsers */
    background: var(--selection-color);
    color: var(--selection-color-contrast);
}
::-moz-selection {
    /* Gecko Browsers */
    background: var(--selection-color);
    color: var(--selection-color-contrast);
}

:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
