/**
 * Core - Base Styles
 */

 .html-base {
    @apply bg-theme-base font-sans text-theme-base-contrast;
}

::selection {
    /* WebKit/Blink Browsers */
    background: var(--selection-color);
    color: var(--selection-color-contrast);
}
::-moz-selection {
    /* Gecko Browsers */
    background: var(--selection-color);
    color: var(--selection-color-contrast);
}

:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.course-menu {
    overflow: hidden;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 10px;
    border-radius: 3px;
    border: 1px #d7d6d6;
    box-shadow: 1px 5px 5px #2663eb38;
}
