/**
 * Core - Base Styles
 */

 html {
    @apply bg-gray-100;
    @apply font-sans;
    @apply text-gray-900;
}

::selection {
    /* WebKit/Blink Browsers */
    background: theme('colors.indigo.700');
    color: theme('colors.gray.100');
}
::-moz-selection {
    /* Gecko Browsers */
    background: theme('colors.indigo.700');
    color: theme('colors.gray.100');
}
