/* purgecss start ignore */

.toasted-container {
    &.top-right {
        right: theme('spacing.8') !important;
        top: theme('spacing.8') !important;
    }

    .toasted {
        border-radius: theme('borderRadius.DEFAULT') !important;

        &.toasted-primary {
            &.error {
                background: var(--color-danger);
                color: var(--color-danger-contrast);
            }

            &.success {
                background: var(--color-success);
                color: var(--color-success-contrast);
            }
        }
    }
}

/* purgecss end ignore */
